%h2= @song.name

%p Select a Mixtape
- @auth.mixtapes.order(:name).each do |mixtape|
  = check_box_tag '[mixtape_ids][]', mixtape.id
  %span= mixtape.name

%p= number_to_currency(@song.cost)

= link_to("Purchase #{@song.name}", purchase_song_path, :method => :post, :class => 'button radius')


