<div class='inner_container'>
  <ul>
    <li><%= image_tag(@artist.image) %></li>
    <li><%= @artist.name %></li>
    <li><%= @artist.nationality %></li>
    <li><%= @artist.dob.strftime('%B %d %Y') %></li>
    <li><%= @artist.period %></li>
  </ul>

<% @artist.paintings.each do |painting| %>
  <ul>
    <li><%= image_tag(painting.image) %></li>
    <li><%= painting.title %></li>
    <li><%= painting.year %></li>
    <li><%= painting.medium %></li>
    <li><%= painting.style %></li>
  </ul>
<% end %>

  <br>
  <%= link_to 'delete', @artist, :method => :delete, :confirm => 'do you really want to delete this?' %>
  <%= link_to 'edit', edit_artist_path(@artist) %>
</div>

