%p.newlink= link_to('Edit Album', edit_album_path(@album), :class => 'button radius small') if is_admin

%h2= @album.name
.show
  = image_tag(@album.image)

- if @album.artists.present?
  %h3= 'Artists'
  %ul
    - @album.artists.uniq.each do |artist|
      %li= link_to(artist.name, artist_path)

- if @album.songs.present?
  %h3 Songs
  %ul
    - @album.songs.each do |song|
      %li= link_to(song.name, song_path)