.row
  .nine.columns.offset-by-three
    = render(:partial => 'shared/errors', :locals => {:object => @user})

    = form_for @user do |f|
      .row
        .three.mobile-one.columns
          .right.inline
            = f.label :name
        .nine.mobile-three.columns
          = f.text_field :name, :autofocus => true
        .three.mobile-one.columns
          .right.inline
            = f.label :balance
        .nine.mobile-three.columns
          = f.text_field :balance
        .three.mobile-one.columns
          .right.inline
            = f.label :image
        .nine.mobile-three.columns
          = f.text_field :image
        .three.mobile-one.columns
          .right.inline
            = f.label :password
        .nine.mobile-three.columns
          = f.password_field :password
        .three.mobile-one.columns
          .right.inline
            = f.label :password_confirmation
        .nine.mobile-three.columns
          = f.password_field :password_confirmation
        .nine.mobile-three.columns.offset-by-two
          = f.submit nil, :class => 'button radius'
