.row
  .nine.columns.offset-by-three
    = render(:partial => 'shared/errors', :locals => {:object => @genre})

    = form_for @genre do |f|
      .row
        .two.mobile-one.columns
          .right.inline
            = f.label :name
        .ten.mobile-three.columns
          = f.text_field :name, :autofocus => true
        .ten.mobile-three.columns.offset-by-two
          = f.submit nil, :class => 'button radius'

