#map_canvas
%script
  display_map(40.7316, -73.9901, 12);

%script
  var tasks = [];

.row
  .three.columns
    .controls
      .new
        = button_tag 'New Task', :id => 'new_task', :class => 'button radius success tiny'
      .taskform.hide
        = form_tag do
          = label_tag 'priority_id'
          = select_tag 'priority_id', options_from_collection_for_select(@auth.priorities.order(:value).reverse, "id", "name")
          = label_tag 'title'
          = text_field_tag 'title'
          = label_tag 'description'
          = text_area_tag 'description'
          = label_tag 'duedate', 'Due'
          = text_field_tag 'duedate'
          = label_tag 'is_complete', 'Complete?'
          = check_box_tag 'is_complete'
          = label_tag 'address'
          = text_area_tag 'address'
          = hidden_field_tag 'task_id'
          = link_to('Cancel', '#', :id=>'cancel_task', :class => 'button radius tiny alert')
          = submit_tag 'New Task', :id => 'create_task', :class => 'button radius tiny'
          = submit_tag 'Update Task', :id => 'update_task', :class => 'button radius tiny success'
  .nine.columns

%ul#tasks
  - @tasks.each do |task|
    %li
      %script
        = "add_marker(#{task.latitude}, #{task.longitude}, '#{task.title}');"
      %script
        = "tasks.push({id:#{task.id}, title:'#{task.title}', description:'#{task.description}', duedate:'#{task.duedate}', is_complete:#{task.is_complete}, address:'#{task.address}', latitude:#{task.latitude}, longitude:#{task.longitude}});"
    .task= task.title
    .task.hide= task.id
    = submit_tag 'Edit Task', :class => 'button radius tiny success edit_task'
    = submit_tag 'Delete Task', :class => 'button radius tiny alert delete_task'