.row
  .ten.columns
    %h1 Artists

  .two.columns
    - if @auth.present? && @auth.is_admin
      = link_to('Add Artist', new_artist_path)

.row
#artists
  %table
    - @artists.each do |artist|
      %tr
        %td= artist.name
        %td= image_tag(artist.image)
        - if @auth.present? && @auth.is_admin
          %td= link_to('Edit', edit_artist_path(artist), :class => 'button radius tiny')
          %td= link_to('Delete', artist, :method => :delete, :class => 'button radius tiny')
