<div class="row">
  <div class="three columns">
    <h1><img src="http://www.tonydesare.com/wp-content/uploads/2008/12/td-407-headphones-silhouette.jpg" /></h1>
  </div>
  <div class="nine columns">
    <ul class="nav-bar right">
      <li class="support tag"><%= link_to('Home', root_path) %></li>
      <li class="has-flyout">
        <%= link_to('Browse Music', '#') %>
        <a href="#" class="flyout-toggle"><span> </span></a>
        <ul class="flyout">
          <li><%= link_to('Artists', artists_path) %></li>
          <li><%= link_to('Albums', albums_path) %></li>
          <li><%= link_to('Genres', genres_path) %></li>
          <li><%= link_to('Songs', songs_path) %></li>
        </ul>
      </li>
      <%== intellinav %>
    </ul>
  </div>
</div>

