.row
  .ten.columns
    %h1 Albums

  .two.columns
    - if @auth.present? && @auth.is_admin
      = link_to('Add Album', new_album_path)

.row
#artists
  %table
    - @albums.each do |album|
      %tr
        %td= album.name
        %td= image_tag(album.image)
        - if @auth.present? && @auth.is_admin
          %td= link_to('Edit', edit_album_path(album), :class => 'button radius tiny')
          %td= link_to('Delete', album, :method => :delete, :class => 'button radius tiny')